<%- include('../_layouts/adminheader'); %>
<div class="container" style="height: 75vh">
  <h2 class="page-title">Categories</h2>
  <a href="/admin/categories/add-category" class="btn btn-primary"
    >Add a new category</a
  >
  <br />
  <br />
  <table class="table table-striped table-hover table-bordered">
    <thread>
      <tr class="table-info">
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thread>
    <tbody>
      <% categories.forEach(function(cat) { %>
      <tr>
        <td><%=cat.title %></td>
        <td>
          <a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a>
        </td>
        <td>
          <a
            class="confirm-deletion"
            href="/admin/categories/delete-category/<%= cat._id %>"
            >Delete</a
          >
        </td>
      </tr>
      <% })%>
    </tbody>
  </table>
</div>

<%- include('../_layouts/adminfooter'); %>
